/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log
*.gem
.rubocop-https---raw-githubusercontent-com-panorama-ed-code-conventions-master-rubocop-yml
